<div class="messageFieldBox">
  <div class="messageField">
    <input
      [formControl]="form.controls['text']"
      placeholder="Ваше сообщение..."
    >
    <a class="sendMessageBtn" (click)="form.valid ? send() : openDialog('Сообщение должно быть длиной от 1 до 2000 символов')">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.42517 2.81506L5.13143 14.7589L6.09612 15L5.13143 15.2412L3.42517 27.185L27.795 15L3.42517 2.81506ZM7.36857 12.7412L6.57483 7.18498L22.2049 15L6.57483 22.815L7.36857 17.2589L16.4039 15L7.36857 12.7412Z" fill="#C4C4C4"/>
      </svg>
    </a>
  </div>
</div>
