<div id="FriendsPage">
  <div class="friendShipPart input">
    <h3>Входящие</h3>
    <app-searchbar></app-searchbar>
    <div class="friendShipList">
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
      <app-users-item [userActions]="inputFriendsActions"></app-users-item>
    </div>
  </div>
  <div class="friendShipPart your">
    <h3>Ваши друзья</h3>
    <app-searchbar></app-searchbar>
    <div class="friendShipList">
      <app-users-item [userActions]="yourFriendsActions"></app-users-item>
      <app-users-item [userActions]="yourFriendsActions"></app-users-item>
      <app-users-item [userActions]="yourFriendsActions"></app-users-item>
      <app-users-item [userActions]="yourFriendsActions"></app-users-item>
      <app-users-item [userActions]="yourFriendsActions"></app-users-item>
      <app-users-item [userActions]="yourFriendsActions"></app-users-item>
    </div>
  </div>
  <div class="friendShipPart output">
    <h3>Исходящие</h3>
    <app-searchbar></app-searchbar>
    <div class="friendShipList">
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
      <app-users-item [userActions]="outputFriendsActions"></app-users-item>
    </div>
    <app-new-friendship-form></app-new-friendship-form>
  </div>
</div>
