<div id="ProfileSettingsPage">
  <div class="container">
    <h3>Ваш айди: {{ this.message?.id }}</h3>
    <app-messages-item
      [name]="form.controls['username'].valid ? form.controls['username'].value : this.message?.username"
      [image]="form.controls['image'].value ? form.controls['image'].value : this.message?.image"
      [date]="this.message?.date"
      [text]="this.message?.text"
    ></app-messages-item>
    <form [formGroup]="form" (ngSubmit)="updateDataAboutMe()">
      <input
        hidden
        type="file"
        accept=".png, .jpg, .jpeg"
        #avatarUpload
        (change)="loadAvatar($event)"
      />
      <ng-form (click)="avatarUpload.click()">
        <app-default-btn
          [disabled]="false"
          [text]="'Загрузить аватарку'"
          [type]="'button'"
        ></app-default-btn>
      </ng-form>
      <app-line-input-field
        [type]="'text'"
        [control]="form.controls['username']"
        [placeholder]="'Ваше имя'"
      ></app-line-input-field>
      <div *ngIf="form.controls['username'].invalid">
        <app-error-message
          *ngIf="form.controls['username'].errors?.required"
          [text]="'Имя необходимо'"
        ></app-error-message>
        <app-error-message
          *ngIf="form.controls['username'].errors?.minlength"
          [text]="'Минимальная длина имени - 4 символов'"
        ></app-error-message>
        <app-error-message
          *ngIf="form.controls['username'].errors?.maxlength"
          [text]="'Максимальная длина имени - 32 символа'"
        ></app-error-message>
      </div>
      <app-add-new-btn
        [disabled]="false"
        [type]="'submit'"
        [text]="'Сохранить'"
      ></app-add-new-btn>
    </form>
    <form (ngSubmit)="openLogoutSubmitDialog('Выйти из аккаунта?')">
      <app-remove-btn
        [disabled]="false"
        [type]="'submit'"
        [text]="'Выйти из аккаунта'"
      ></app-remove-btn>
    </form>
  </div>
</div>
