<div class="messagesItem">
  <div class="photo">
    <img
      width="50"
      height="50"
      src="https://picsum.photos/500/300"
    >
  </div>
  <div class="name">
    Marlak
  </div>
  <div class="date">
    23:42
  </div>
  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet autem doloribus, ducimus ea esse eum inventore itaque magnam perferendis possimus, quod sit soluta sunt tempore tenetur totam, vitae voluptas voluptatibus. Ad aliquid architecto atque commodi consequatur cumque cupiditate delectus doloribus, dolorum eum expedita facilis fuga incidunt ipsum maiores minus nam natus necessitatibus neque nesciunt nihil quaerat quia recusandae rerum totam ullam voluptatem voluptatibus.
  </div>
</div>
