<div *ngIf="linkIsActive" [routerLink]="linkToChat" routerLinkActive="active" class="chatsItem">
  <div class="photo">
    <img
      *ngIf="image"
      [src]="image"
      width="50"
      height="50"
    >
  </div>
  <div class="name">{{ name }}</div>
  <div class="date">{{ date | date : 'HH:mm - dd.MM.yyyy' : timeZone }}</div>
</div>
<div *ngIf="!linkIsActive" class="chatsItem">
  <div class="photo">
    <img
      *ngIf="image"
      [src]="image"
      width="50"
      height="50"
    >
  </div>
  <div class="name">{{ name }}</div>
  <div class="date">{{ date | date : 'HH:mm - dd.MM.yyyy' : timeZone }}</div>
</div>
