<div id="ChatPage">
  <div class="chatContainer">
    <app-chat-meta-bar
      [id]="chat?.id"
      [name]="chat?.name"
      [image]="chat?.image"
      [isOwner]="chat?.is_owner"
    ></app-chat-meta-bar>
    <app-messages-box
      [messages]="messages"
      [isLoading]="messagesConfig?.loading"
      (scrollBottomEvent)="loadMessages()"
    ></app-messages-box>
    <app-message-field-box
      (setValue)="sendMessage($event)"
    ></app-message-field-box>
  </div>
  <div class="membersBar">
    <ng-form (click)="this.openLeaveSubmitDialog('Выйти из чата?')">
      <app-remove-btn
        [disabled]="false"
        [type]="'button'"
        [text]="'Выйти из чата'"
      ></app-remove-btn>
    </ng-form>
    <app-members-box
      [members]="this.members"
      [isOwner]="this.chat?.is_owner"
      [openDeleteMemberDialog]="openDeleteMemberDialog"
    ></app-members-box>
    <ng-form (click)="openAddMemberDialog()">
      <app-add-new-btn
        [type]="'button'"
        [text]="'Добавить участника'"
      ></app-add-new-btn>
    </ng-form>
  </div>
</div>
